@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, html {
	background-image:url('Untitled-1.png');
     	width: 100%;
     	height: 100%;
	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover; 
	filter: brightness(200%) blur(20px);
	margin: 0;
	letter-spacing: -1px;
	font-family: 'Inter', sans-serif;
}

.title {
	color: black;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.desc {
	margin-top: -30px;
	margin-bottom: 20px;
	color: black;
	font-weight: 550;
	text-align: center;
}

/*buttons*/

.disc {
	margin-top: 10px;
	border-radius: 32pt;
	background-color: white ;
    color: black;
    padding: 10px 17px;
    text-align: center;
	text-decoration: none;
	transition-duration: 0.07s;
    cursor: pointer;
	display: inline-block;
    vertical-align: middle;
}

.port {
	margin-top: 10px;
	border-radius: 32pt;
	background-color: white ;
    color: black;
    padding: 10px 17px;
    text-align: center;
	text-decoration: none;
	transition-duration: 0.07s;
    cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
    vertical-align: middle;
}

.resume {
	margin-top: 10px;
	border-radius: 32pt;
	background-color: white ;
    color: black;
    padding: 10px 17px;
    text-align: center;
	text-decoration: none;
	transition-duration: 0.07s;
    cursor: pointer;
	display: inline-block;
    vertical-align: middle;
}

/*hover elements*/

.disc:hover {
	margin-top: 10px;
	border-radius: 5pt;
	background-color: rgba(0,0,0, 1.00);
    color: white;
    padding: 10px 17px;
    text-align: center;
	display: inline-block;
    vertical-align: middle;
	
}.port:hover {
	margin-top: 10px;
	border-radius: 5pt;
	background-color: rgba(0,0,0, 1.00);
    color: white;
    padding: 10px 17px;
    text-align: center;
	display: inline-block;
    vertical-align: middle;
}

.resume:hover {
	margin-top: 10px;
	border-radius: 5pt;
	background-color: rgba(0,0,0, 1.00);
    color: white;
    padding: 10px 17px;
    text-align: center;
	display: inline-block;
    vertical-align: middle;
}
