html
{
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100%;
	justify-content: center;
    align-items: center;
	display: flex;
	color: black;
    background-color:black;

    background-image: url("Assets/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#profile_picture
{
    height: 300px;
    width: 225px;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);

    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.3s;
     -khtml-animation-delay: 0.3s;
       -moz-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
         -o-animation-delay: 0.3s;
            animation-delay: 0.3s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

#box_container
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center ;
    height: 444px;
    width: 800px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);

    -webkit-backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);
     -khtml-backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);
       -moz-backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);
        -ms-backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);
         -o-backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);
            backdrop-filter: saturate(500%) brightness(2) blur(1.5rem);

    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;
}

#left_side_container
{
    padding: 12px;
    text-align: center;
    align-items: center;
}

#icon_container
{
    align-items: center;
}

.social_icon
{
    padding: 8px;
    width: 20px;
    height: 20px;
}

#instagram
{
    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.5s;
     -khtml-animation-delay: 0.5s;
       -moz-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
         -o-animation-delay: 0.5s;
            animation-delay: 0.5s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

#snapchat
{
    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.55s;
     -khtml-animation-delay: 0.55s;
       -moz-animation-delay: 0.55s;
        -ms-animation-delay: 0.55s;
         -o-animation-delay: 0.55s;
            animation-delay: 0.55s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

#twitter
{
    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.6s;
     -khtml-animation-delay: 0.6s;
       -moz-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
         -o-animation-delay: 0.6s;
            animation-delay: 0.6s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

#right_side_container
{
    padding: 12px;
}

h1
{
    font-size: 36px;
    margin: 16px;
    
    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.4s;
     -khtml-animation-delay: 0.4s;
       -moz-animation-delay: 0.4s;
        -ms-animation-delay: 0.4s;
         -o-animation-delay: 0.4s;
            animation-delay: 0.4s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.bio
{
	font-size: 18px;
    margin: 16px;

    -webkit-animation: fade_from_bottom ease 0.75s;
     -khtml-animation: fade_from_bottom ease 0.75s;
       -moz-animation: fade_from_bottom ease 0.75s;
        -ms-animation: fade_from_bottom ease 0.75s;
         -o-animation: fade_from_bottom ease 0.75s;
            animation: fade_from_bottom ease 0.75s;

    -webkit-animation-delay: 0.5s;
     -khtml-animation-delay: 0.5s;
       -moz-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
         -o-animation-delay: 0.5s;
            animation-delay: 0.5s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;      
}

#smiley
{
    color: purple;

    -webkit-animation: fade ease  0.75s;
     -khtml-animation: fade ease 0.75s;
       -moz-animation: fade ease 0.75s;
        -ms-animation: fade ease 0.75s;
         -o-animation: fade ease 0.75s;
            animation: fade ease 0.75s;

    -webkit-animation-delay: 1s;
     -khtml-animation-delay: 1s;
       -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
         -o-animation-delay: 1s;
            animation-delay: 1s;

    -webkit-animation-fill-mode: both;
     -khtml-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;    
}

#antispoil
{
    color: black;
    text-decoration: none;
}

#antispoil:hover
{
    background-color: black;
    color: white;
    text-decoration: none;
}

#discography
{
    color: black;
    text-decoration: none;
}

#discography:hover
{
    background-color: black;
    color: white;
    text-decoration: none;
}

@keyframes fade_from_bottom
{
    from
    {
        transform: translateY(30px);
        opacity: 0;
    }

    to
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}