@charset "UTF-8";

/* CSS Document */

body, html {
	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: cover;
  	justify-content: center;
  	display: flex;
	background-color: rgb( 40, 40, 40 );
	height: 100%;
	margin: 0;
	font-family: "Roboto Mono", "Roboto Mono Thin", mono-type; 
}

.invisibox {
	margin: auto;
	padding: 50px 50px;
	box-sizing: border-box;
	max-width: 2000px;
	width: 100%;
	align-items: center;
}

.shuffle {
    color: rgb( 255, 255, 100 );
	cursor: pointer;
	opacity: 0%;
    font-size: 12pt;
	font-weight: lighter;
    text-align: center;
	-webkit-animation: 0.75s ease 0s normal forwards 1 opacity_c;
	 -khtml-animation: 0.75s ease 0s normal forwards 1 opacity_c;
	   -moz-animation: 0.75s ease 0s normal forwards 1 opacity_c;
	    -ms-animation: 0.75s ease 0s normal forwards 1 opacity_c;
	     -o-animation: 0.75s ease 0s normal forwards 1 opacity_c;
	        animation: 0.75s ease 0s normal forwards 1 opacity_c;

	-webkit-animation-delay: 0.5s;
	 -khtml-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
	    -ms-animation-delay: 0.5s;
	     -o-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

.date {	
    font-size: 30pt;
    color: rgb( 255, 255, 100 );
	opacity: 0%;
    text-align: center;
	-webkit-animation: 0.75s ease 0s normal forwards 1 fade_in;
	 -khtml-animation: 0.75s ease 0s normal forwards 1 fade_in;
	   -moz-animation: 0.75s ease 0s normal forwards 1 fade_in;
	    -ms-animation: 0.75s ease 0s normal forwards 1 fade_in;
	     -o-animation: 0.75s ease 0s normal forwards 1 fade_in;
	        animation: 0.75s ease 0s normal forwards 1 fade_in;
}

@keyframes fade_in {
    0% {
        transform: translateY(30px);
		opacity: 0%;
    }
	
    100% {
        transform: translateY(0px);
		opacity: 100%;
    }
}

@keyframes opacity_c {
	0% {
		opacity: 0%;
	}
	
	100% {
		opacity: 100%;
	}
}

/* roboto-mono-300 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-300.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-mono-v13-latin/roboto-mono-v13-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}